/* Make SubProgram inline inputs larger */
#core_subprogram_set input {
    font-size: 16px !important;
    font-weight: bold !important;
}

/* Optional: make inline headers bigger */
.inline-group h3 {
    font-size: 16px;
    font-weight: bold;
}